html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
	scroll-behavior: smooth;
}
body {
	background-color: #393E46;
	/* font-family: 'Lora', serif; */
	font-family: 'Open Sans', sans-serif;
	font-size: medium;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	font-family: 'Lora', serif;
}

a{
	text-decoration: none;
    color: inherit;
}

/* Section one */

#section_one {
	/* background: linear-gradient(#0F2027, #2C5364); */
	/* background: linear-gradient(#323232, #9B9B9B); */
	/* background: linear-gradient(to right,#141E30, #243B55); */
	/* background: linear-gradient(to right,#161616, #243B55); */
	width: 100%;
	/* height: 125vh; */
	display: flex;
	flex-direction: column;
}

.navigation {
	width: 100%;
	height: 3rem;
	/* background-color: #161616; */
	background: #161616;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation_logo {
	width: 100px;
}

.navigation_elements {
	color: #fff6d9;
	display: flex;
	justify-content: space-around;
	width: 30%;
}

.navbar__item {
	display: none;
}

.section_one_heading {
	color: #FFD369;
	font-size: xx-large;
	text-align: center;
}

.section_one_content {
	height: 80vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 5%;
}

.section_one_content_main {
	width: 60%;
	height: -webkit-fill-available;
	padding: 2%;
	background-color: #EEEEEE;
	border-radius: 20px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

b{
	font-weight: 600;
}

.sec_one_content_one {
	width: 28%;
}

#home_content_one_p {
	font-size: large;
}

.sec_one_content_three {
	width: 300px;
	height: auto;
}

.section_one_content_ad {
	width: 25%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.sec_one_ad_one {
	height: 30%;
	padding: 3%;
	background-color: #EEEEEE;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.sec_one_ad_one img {
	width: 20%;
}

.sec_one_ad_two {
	background-color: #ffe8d6;
	border-radius: 15px;
	text-align: center;
}

.sec_one_ad_two .desktop_version {
	width:75%;
	overflow: hidden;
	
}
.sec_one_ad_two{
	background-image: url("ceo.jpg");
	background-size: cover;
	background-position: center;
	height: 50%;
	width: 100%;
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	align-items: center;
}
#ceo_info{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	color: transparent;
}
#ceo_info:hover{
	color: black;
}

.sec_one_ad_two:hover{
	background-image: none;
	background-color: #f6f4d4;
	transition: 1s ease-in-out;
}

.sec_one_ad_two .mobile_version{
	display: none;
}

/* Section two */

#section_two {
	display: flex;
	width: 100%;
}

.section_two_flex {
	border-radius: 20px;
	background-color: #EEEEEE;
	margin: 5%;
	display: flex;
	justify-content: space-between;
}

#section_two .card {
	display: flex;
	width: 80%;
	height: 50%;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
	background-color: #DDDDDD;
	margin: 5% 0;
	padding: 2%;
	border-radius: 20px;
	flex-direction: column;
	text-align: center;
}

.aimandvision{
	font-family: 'Metrophobic', sans-serif;
	text-align:left;
}

.font_andv{
	font-family: 'Dancing Script', cursive;
}

.vision {
	/* align-self: flex-start; */
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.vision .card {
	/* align-self: flex-start; */
}

.vision_img {
	display: contents;
}

.aim {
	/* align-self: flex-end; */
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.aim .card {
	/* align-self: flex-end; */
}

.aim_img {
	display: contents;
}

#section_two img {
	width: 50%;
	margin: 5% 0;
}

/* Section Three */

#section_three {
	padding-top: 1%;
	background-color: #222831;
	color: #FFD369;
	width: 100%;
	/* height: 50vh; */
	text-align: center;
}

#section_three .card {
	/* height: 60%; */
	/* width: 20%; */
	padding: 0.5%;
	margin: 3%;
	color: black;
	background-color: #DDDDDD;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 #000000;
	border-radius: 20px;
}

.section_three_content {
	display: flex;
	justify-content: space-evenly;
	/* height: 44vh; */
	align-items: center;
}

#section_three img {
	width: 50%;
}

/* Section Four */

#section_four {
	padding: 5%;
}

.section_four_flex {
	display: flex;
	justify-content: center;
	/* align-items: center; */
	width: 100%;
	height: 78vh;
}

.section_four_content {
	width: 55%;
	padding: 5%;
	background-color: #EEEEEE;
	border-radius: 20px 0 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.section_four_workshop {
	display: flex;
	flex-direction: column;
	width: 35%;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.section_four_workshop .workshop_heading {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90%;
	height: 45%;
	background-color: #DDDDDD;
	padding: 5%;
	text-align: center;
	border-radius: 0 20px 0 0;
}

.section_four_workshop .workshop_list {
	width: 90%;
	height: 45%;
	padding: 5%;
	background-color: #BBBBBB;
	border-radius: 0 0 20px;
}

/* Section Five */

#section_five {
	width: 100%;
}

.section_five_about {
	height: 78vh;
	display: flex;
	align-items: center;
}

.about_content {
	margin: 3%;
	border-radius: 20px;
	width: 50%;
	padding: 3%;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
	background-color: #EEEEEE;
}

.about_content_img {
	justify-content: center;
	display: flex;
}

.section_five_about img {
	width: 50%;
	border-radius: 50%;
}

.footer {
	padding: 2%;
	display: flex;
	justify-content: space-evenly;
    align-items: center;
	background-color: #161616;
}
.footer div{
	display: flex;
    flex-direction: column;
    justify-content: space-between;
	border-right: dashed;
    border-right-width: 1px;
    border-right-color: white;
	width:30%;
	height: 16vh;
	color: #fff6d9;
}
.footer a{
	align-self: flex-end;
}
.footer_logo img{
	width:24%;
}
.footer .website_by{
	border: none;
}
.footer .cuconut{
	border: none;
    color: #6d6d6d;
    width: auto;
	height: auto;
}
@media(max-width: 768px) {
	/* Section one */
	/* #section_one{
		height: 95vh;
	} */
	.navigation_elements, .navigation_logo_heading h1 {
		display: none;
	}
	.navbar__item {
		color: #FFD369;
		display: flex;
		position: relative;
		padding: 9px;
		margin-right: 9px;
		cursor: pointer;
		background-color: #222831;
		border-radius: 20px;
		/* -webkit-user-select: none; */
	}
	.navbar__item:hover {
		background-color: #393E46;
	}
	/* Drop down */
	.navbar__item .navbar__dropdown {
		position: absolute;
		background-color: #222831;
		top: calc(100% + 5px);
		right: 0px;
		border-radius: 8px;
		box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
		/* Animated properties */
		opacity: 0;
		transform: scale(0.3);
		transform-origin: top right;
		transition: transform 0.4s, opacity 0.2s;
	}
	.navbar__dropdown ul {
		list-style: none;
		padding: 8px 0px;
	}
	.navbar__dropdown li {
		padding: 8px 30px;
	}
	.navbar__dropdown hr {
		width: 70%;
		border-width: 1px 0 0 0;
		border-color: black;
	}
	.sec_one_content_one {
		display: none;
	}
	.navbar__item:hover .navbar__dropdown {
		opacity: 1;
		transform: scale(1.0);
	}
	.section_one_content {
		flex-direction: column;
		height: 100vh;
	}
	.section_one_content_main {
		width: 90%;
		flex-direction: column;
	}
	#home_content_one_p{
		font-size: larger;
	}
	.section_one_content_ad {
		width: 94%;
		justify-content: space-around;
	}
	.sec_one_ad_two {
		margin: 5% 0;
		/* width: 300px; */
		height: 100%;
		display: flex;
    	align-items: center;
    	justify-content: center;
	}
	.sec_one_ad_one, .sec_one_ad_two .desktop_version {
		display: none;
	}
	.sec_one_ad_two .mobile_version{
		display: inline;
    	width: 75%;
	}
	/* Section two */
	.section_two_flex {
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
	}
	#section_two .card {
		width: 100%;
		align-self: center;
		height: auto;
	}
	.vision, .aim {
		width: 90%;
	}
	.aim_img {
		display: none;
	}
	/* Section three */
	.section_three_content {
		flex-flow: wrap;
	}
	.section_three_content .card {
		width: 40%;
	}
	/* Section four */
	.section_four_flex {
		flex-direction: column;
		height: auto;
	}
	.section_four_content {
		width: auto;
	}
	.section_four_workshop {
		flex-direction: row;
		width: auto;
		background-color: #DDDDDD;
		border-radius: 20px 0 0 20px;
	}
	.section_four_workshop .workshop_heading {
		width: 50%;
		border-radius: 20px 0 0 20px;
	}
	.section_four_workshop .workshop_list {
		width: 50%;
		height: auto;
		border-radius: 20px 0 0 20px;
	}
	/* Section five */
	.section_five_about {
		flex-direction: column;
		justify-content: space-around;
	}
	.about_content {
		width: auto;
	}
	.footer{
		flex-direction: column;
    	align-items: end;
	}
	.footer div{	
		width: auto;
		border: none;
		margin: 2%;
	}
}